body {
background-position: center center;
background-attachment: fixed;
background-size: 100%;
font-family: mistral;
background-image: url(../inf/image6.jpeg);

}
.lol {
  margin-left: 3vw;
  margin-top: -85vh;
  width: 60vh; 
  height: 57vh;
}
#tw {
  background-color: #ffcc66;
  font-family: "courier new",courier,monospace;
  font-weight: bold;
  opacity: 0.831;
  color: black;
  font-size: 2.8vh;
  border: 1px solid #000000;
  padding: 5px;
  margin-top: 60vh;
  margin-left: 3vw;
  width: 57vh;
  height: 25vh;
  position: relative;
}
.lol1{
  position: absolute;
opacity: 0;
width: 99vw;
height: 100vh;
margin-top:-90vh;
}